* {
  padding: 0;
  margin: 0;
}
body {
  background: whitesmoke;
  color: black;
}
.header-container {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 6;
  box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.25);
}
.nav-list > li {
  text-decoration: none;
  color: black;
  padding: 10px;
  padding-top: 10px;
  font-weight: 570;
  list-style: none;
}

.nav-list > li:hover {
  color: #03c0fd;
  cursor: pointer;
}
.logo-holder {
  display: flex;
  justify-content: space-between;
}
.btn-logo {
  border: none;
  background-color: white;
  padding-left: 15px;
}
.ul-div {
  /* border-top: 1px black solid; */
  z-index: 5;
  position: fixed;
  top: 65px;
  background-color: white;
  width: 100%;
  box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.25);
}
.sidebar-toggle-btn {
  padding: 8px;
  background-color: white;
  border: none;
  padding-right: 15px;
}
.toggle-icon {
  color: #03c0fd;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.headline-bar {
  display: flex;
  justify-content: space-between;
  margin-top: -30px;
  margin-bottom: 10px;
  background-color: #03c0fd;
  padding: 5px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}
.div1,
.div2 {
  width: 430px;
  height: 1px;
  background-color: #03c0fd;
  margin-top: 8px;
  display: none;
}

.headline-bar > p {
  color: white;
  font-weight: bold;
  padding-left: 14px;
  font-size: 20px;
}
.body-text > h4 {
  color: #03c0fd;
  font-size: 15px;
  margin-bottom: 10px;
}
.body-text {
  padding: 14px;
  /* color: rgb(70, 69, 69); */
}

.service-title {
  color: #03c0fd;
  font-weight: 580;
  font-weight: bold;
  padding: 12px;
}

.img {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.blue-line {
  height: 3px;
  width: 100%;
  margin-bottom: 5px;
  background-color: #03c0fd;
}
.footer {
  background-color: #d9d9d9;
  padding: 12px;
  margin-top: 10px;
}
.caro-img {
  width: 100%;
  height: auto;
}
.side-img,
.mid-img {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 0px 6px 36px 0px rgba(0, 0, 0, 0.25);
}
.homeBtn:hover {
  cursor: pointer;
}
.agr-con {
  background-color: rgb(229, 254, 229);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 350px;
}

.qonect-logo-holder {
  background-color: rgb(227, 225, 225);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
}
.desktop-nav {
  display: none;
}
.larger-img,
.grid-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.gen-service {
  padding: 20px;
}
.gen-service > ul > li {
  color: #03c0fd;
  padding-top: 10px;
  font-weight: bold;
}
.list-con {
  /* background-color: red; */
  /* padding: 10px; */
  border: 1px #03c0fd solid;
  margin-bottom: 15px;
  border-radius: 5px;
}
.list-con > p {
  padding: 5px;
}
.card-head {
  background-color: #03c0fd;
  padding: 5px;
  list-style: none;
  color: white;
  font-weight: 800;
}
/* .grid-img {
  position: relative;
  top: 300px;
  display: none;
} */
.q-img {
  background-color: white;
  position: relative;
  top: 200px;
  width: 80%;
  opacity: 0.7;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.agr-img {
  background-color: white;
  position: relative;
  top: 220px;
  width: 70%;
  opacity: 0.9;
  height: auto;
  left: 120px;
}
.eng-name {
  background-color: whitesmoke;
  width: 250px;
  z-index: 5;
  opacity: 0.9;
  z-index: 3;
  position: relative;
  top: 240px;
  left: 150px;
  padding: 5px;
}
.eng-name > h4 {
  font-size: 15px;
  font-weight: bold;
  color: navy;
}
.eng-name > p {
  color: #03c0fd;
  font-weight: bold;
}
.phone {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #2fd085;
  /* border: 1px #03c0fd solid; */
  border: none;
  height: 35px;
  margin-top: 15px;
  background-color: white;
  border-radius: 8px;
  padding-right: 5px;
  font-size: 15px;
  margin-left: -30px;
}
.nav-icon {
  padding-left: 5px;
  padding-right: 5px;
  color: #2fd085;
  font-size: 22px;
}
.carousel-cont {
  height: 360px;
  width: 100%;
  margin-bottom: 20px;
}
.carousel-img > img {
  height: 360px;
}
.legend {
  background-color: white !important;
  /* width: 300px !important; */
  border-radius: 6px !important;
  text-align: left !important;
  color: black !important;
  opacity: 0.7 !important;
  /* margin-top: 10px !important; */
}
.legend > p {
  display: none;
}
.contact-div {
  background-color: white;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.contact-div > a > svg:hover {
  color: #03c0fd;
}
.personal-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}
.person-card {
  width: 195px;
  box-shadow: 0px 3px 3px 0px rgb(176, 175, 175);
  margin-bottom: 20px;
}
.profile-img {
  width: 100%;
}
.person-info {
  text-align: center;
}
.person-info > h4 {
  padding-top: 5px;
}

@media screen and (min-width: 1024px) {
  .person-card {
    width: 230px;
  }
  .carousel-cont {
    height: 550px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: green; */
  }
  .carousel-img > img {
    height: 550px;
  }
  .legend {
    background-color: white !important;
    width: 300px !important;
    border-radius: 0 !important;
    text-align: left !important;
    margin-left: 200px !important;
    color: black !important;
    margin-top: 10px !important;
  }
  .contact-div {
    background-color: white;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    width: 280px;
  }

  .list-con {
    padding: 20px;
  }
  .card-head {
    padding: 15px;
  }
  .sidebar-toggle-btn {
    display: none;
  }
  .desktop-nav {
    width: 900px;
    display: block;
    color: rgb(1, 1, 105);
  }
  .desk-nav-list {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
  .desk-nav-list > p {
    font-weight: 500;
  }
  .desk-nav-list > p:hover {
    color: #03c0fd;
    cursor: pointer;
  }
  .headline-bar > p {
    text-align: center;
    color: #03c0fd;
  }
  .qonect-logo-holder {
    background-color: rgb(227, 225, 225);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
  }

  .agr-con {
    background-color: rgb(229, 254, 229);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 530px;
  }

  .caro-img {
    width: 80%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* margin-bottom: 100px; */
  }
  .body-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .body-text > h4 {
    color: #03c0fd;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .headline-bar {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    background-color: whitesmoke;
  }
  .headline-bar > p {
    padding-left: 0;
    font-size: 18px;
  }

  .div1,
  .div2 {
    display: block;
  }
  .content-holder {
    display: flex;
    padding: 10px;
    box-shadow: 0px 2px 2px 2px rgba(175, 174, 174, 0.25);
    background-color: white;
    margin-bottom: 40px;
    /* align-items: center; */
    font-size: 20px;
  }
  .agr-img {
    width: 500px;
    margin-top: 50px;
    background-color: white;
    position: relative;
    top: 340px;
    opacity: 0.9;
    left: 620px;
  }
  .q-img {
    width: 500px;
    /* margin-top: 50px; */
    background-color: white;
    position: relative;
    top: 280px;
    opacity: 0.7;
    /* left: 120px; */
  }
  .service-con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 20px;
  }
  .side-img {
    width: 250px;
    box-shadow: 0px 6px 36px 0px rgba(0, 0, 0, 0.25);
  }

  .mid-img {
    width: 380px;
    height: 380px;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
  }
  .grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .larger-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: 0px 6px 36px 0px rgba(0, 0, 0, 0.25);
  }

  .grid-img {
    width: 360px;
    height: 390px;
    margin-bottom: 20px;
    box-shadow: 0px 6px 36px 0px rgba(0, 0, 0, 0.25);
  }
  .gen-service {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
  }

  .eng-name {
    background-color: white;
    width: 500px;
    /* height: 100px; */
    z-index: 5;
    opacity: 0.9;
    position: relative;
    top: 250px;
    left: 600px;
    padding: 20px;
  }
  .eng-name > h4 {
    font-size: 25px;
    font-weight: bold;
    color: navy;
  }
  .eng-name > p {
    color: #03c0fd;
    font-weight: bold;
  }

  .footer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
}
